[submodule "Dolan/vendor/spdlog"]
	path = Dolan/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dolan/vendor/GLFW"]
	path = Dolan/vendor/GLFW
	url = https://github.com/thecherno/glfw
